:root {
    --color-background: #f8faff;
    --color-border: #EFF1F8;

    --color-primary: #3f3fe9;
    --color-green: rgb(129, 240, 146);
    --color-red: rgb(194, 82, 146);

    --color-shadow: rgba(34, 34, 34, 0.25);

    --color-primary-text: #2b2b2b;
    --color-secondary-text: rgb(119, 119, 119);
    --color-transparent: rgba(0, 0, 0, 0);

    background-color: var(--color-background);
    color: var(--color-primary-text)
}

@media (prefers-color-scheme: dark) {}